/* globol */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;

}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    background: url(../img/Oval30.svg)left top ,url(../img/Oval32.svg) right bottom;
    background-repeat: no-repeat;
    background-color: #19A1AE;
    color: #222;
}
img{
    max-width: 100%;
    height: auto;
}

/* conteiner */

/* .conteiner{
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
} */

/* main_content */
/* .main_content{
    flex-grow: 1;
} */
/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #000;
} */

.background {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.card-header {
    width: 100%;
    height: 140px;
    background: url("../img/bg-pattern-card.svg");
    background-size: cover;
    position: relative;
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    left: 50%;
    bottom: -45px;
    transform: translateX(-50%);
}

.card-content {
    margin: 0;
   
}

.card-content h2 {
    margin-top: 76px;
    font-size: 22px;
    font-weight: 700;
}

.card-content span {
    color: gray;
    font-weight: 500;
    margin-left: 6px;
}

.location {
    color: gray;
    
}

.stats {
    margin: 0;

    border-top:1px solid #E8E9EC ;
}
.stats-card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.stats div h3 {
    font-size: 18px;
}
.box:not(:last-child){
    margin-right: 56px;
    
}

.stats div p {
    font-size: 12px;
    color: gray;
    margin-top: 4px;
}
